.about__me {
    padding: 100px 0;
    @include mediaTablet{
        padding: 50px 0;
    }
}
.about__me--text {
    margin-bottom: 30px;
}
.cv-link{
    padding-top: 20px;
}
.about__me--cv{
    padding: 10px 25px;
    background-color: $blue;
    border-radius: 15px;
}
.about__me--cv:hover{
    background-color: $blue1;
}
.about__me--cv-text{
    font-size: 16px;
    color: $grey;
}