.projects {
    margin-bottom: 50px;
}
.project__categories {
    display: flex;
    column-gap: 3rem;
    margin-bottom: 25px;
    @include mediaTabletS{
        column-gap: 2rem;
    }
    @include mediaMobileL{
        column-gap: 1rem;
    }
}
.category__btn {
    color: $lightBlue;
    font-weight: 500;
    font-family: $font-second;
    position: relative;
    transition: .3s;
}
.category__btn:hover{
    color: $darkBlue;
    transform: scale(1.1);
}
.active__btn {
    color: $darkBlue;
}
.project__content {
    display: grid;
    row-gap: 2rem;

    @include mediaTabletS{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    @include mediaMobileL{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
.project__item {
    display: grid;
    grid-template-columns: 4fr 6fr;
    border: 1px solid $grey;

    @include mediaTabletL{
        grid-template-columns: 1fr 1fr;
    }    
    @include mediaTabletS{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    @include mediaMobileL{
        gap: 10px;
    }
}
.project__item--img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    background-color: $grey;

    @include mediaTabletL{
        height: 100%;
        object-fit: contain;
    }
    @include mediaTabletS{
        height: unset;
        text-align: center;
    }    
}
.project__data {
    padding: .5rem 3rem 2rem 2rem;
    @include mediaTabletS{
        padding: 0 2rem 1rem;
    }
    @include mediaMobileL{
        padding: 0.5rem;
    }
   
}
.project__title {
    font-size:clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1rem;
    color: $darkBlue;
    @include mediaTabletS{
        text-align: center;
    }
}
.project__desc {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    color: $blue;
    @include mediaMobileL{
        text-align: justify;
    }
}
.project__stack {
    color: $darkBlue;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    margin-bottom: 1rem;
}
.stack__tags {
    margin-bottom: 20px;
}
.stack__tags li{
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding:  .3rem .6rem;
    border-radius: .2rem;
    color: $lightBlue;
    font-size: 14px;
}
.project__link {
    float: right;   
}
.project__link--text{
    color: $lightBlue;
    font-family: $font-second;
}