//FONTS
$font-main: 'Roboto',sans-serif;
$font-second: 'Roboto Mono',monospace;

//colors:
$darkBlue: #0d1b2a;
$grey: #e0e1dd;
$blue: #1b263b;
$lightBlue: #778da9;
$blue1: #415a77;
//Media
$tablet: 992px;
$tablet_l:900px;
$tablet_s: 768px;
$mobile_l:480px;
$mobile: 425px;
$mobile_s: 320px;